<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RMPEntities" connectionString="metadata=res://*/RMPModel.csdl|res://*/RMPModel.ssdl|res://*/RMPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=UA;Initial Catalog=RemMyPass;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>